@use '../../../styles/base.scss' as *;

.section {
    @include wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__heading1 {
    font: normal normal normal 35px 'Baskerville' !important;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #1a1a1a;
    text-align: center;
    margin-top: 1.5rem;
    @media only screen and (max-width: 500px) {
        font-size: 22pt !important; 
        letter-spacing: 2.2pt !important;
     }
}


.section__heading2 {
   font: normal normal normal 25px 'Baskerville' !important;
   letter-spacing: 3.5px;
   text-transform: uppercase;
   color: #1a1a1a;
   text-align: center;
   @media only screen and (max-width: 500px) {
      font-size: 15pt !important;
      letter-spacing: 1.5pt;
    }
}

.section p {
   font: normal normal normal 20px 'Alright-Sans';
    margin-top: 2rem;
    text-align: center;
    width: 750px;
    max-width: 750px;

    @media only screen and (max-width: 870px) {
      width: 600px;
   }

   @media only screen and (max-width: 870px) {
      width: 550px;
   }

   @media only screen and (max-width: 650px) {
      width: 500px;
   }

     @media only screen and (max-width: 500px) {
        font-size: 13pt !important;
        letter-spacing: 0.13pt;
        margin-top: 1rem;
        width: 400px;
     }
}