@use '../../styles/base.scss' as *;

.section {
    @include wrapper;
    margin-top: 100px ;
    background-color: #645C59;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    @media only screen and (max-width: 500px) {
        height: 161pt;
        margin-top:0px;
        width: 100% !important;
     }
}
.section__heading {
    @include subheadingStyling;
    letter-spacing: 5px !important;
    color: white !important;
    max-width: 600px;
    text-align: center;
    @media only screen and (max-width: 500px) {
        width: 100%;
     }
}

.button {
    background-color: white;
    font: normal normal bold 15px 'Arial';
    width: 426px;
    height: 61px;
    letter-spacing: 3px;
    border: none;
    color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    @media only screen and (max-width: 500px) {
       width: 181pt;
       height: 40pt;
       font-size: 8pt;
       letter-spacing: 1.6pt;
       margin-top: 2rem;
    }
}

#number {
    font: normal normal bold 15px 'Arial';
    font-weight: bold;
    @media only screen and (max-width: 600px) {
        font-size: 8pt;
     }
}

.button:hover {
    background-color: #1a1a1a;
    color: white;
}

