@use '../../styles/base.scss' as *;

.section {
    @include wrapper;
    margin-top: 100px ;
    background-color: #867F7C;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 500px) {
        height: 160px;
        margin-top:0px;
     }
    @media only screen and (max-width: 500px) {
       width: 100%;
    }
}

.section__heading {
    color: white;
    max-width: 600px;
    text-align: center;
    font: normal normal normal 2.188rem Baskerville;
    letter-spacing: 5px;
    @media only screen and (max-width: 500px) {
        font-size: 18pt;
        letter-spacing: 1.8pt;
     }
}

.button {
    background-color: white;
    font: normal normal bold 15px 'Alright-Sans';
    width: 426px;
    height: 61px;
    letter-spacing: 3px;
    border: none;
    color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;

    @media only screen and (max-width: 600px) {
       width: 240px;
        font-size: 8pt;
        letter-spacing: 1.6pt;
     }

    @media only screen and (max-width: 500px) {
       width: 181pt;
    height: 40pt;
       font-size: 8pt;
       letter-spacing: 1.6pt;
       margin-top: 1rem;
    }
}

#number {
    font: normal normal bold 15px 'Arial';
    font-weight: bold;
    @media only screen and (max-width: 600px) {
        font-size: 8pt;
     }
}

.button:hover {
    background-color: #1a1a1a;
    color: white;
}

