@use '../../styles/base.scss' as *;

.section {
    @include wrapper;
    width: 95%;
    display: flex;
    flex-direction: column;
    &__elements {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media only screen and (max-width: 700px) {
          flex-direction: column;
          padding: 0 1.5rem;
       }
    }
    &__element {
      &__heading {
        @include subheadingStyling;
        margin-bottom: 1.6rem;
        margin-top: 2rem;
        padding-left: 20px;
        @media only screen and (max-width: 700px) {
            padding-left: 0;
        }
      }
      &__paragraph {
        @include bodyTextStyling;
        padding-left: 20px;
        width: 45vw;
        height: 190px;
        max-width: 700px;
        max-height: 400px;
        @media only screen and (max-width: 700px) {
         width: 100%;
         padding-left: 0;
        }
        @media only screen and (max-width: 500px) {
          height: 100px;
        }
      }
    }
}
.image {
    width: 45vw;
    height: 25vw;
    min-height: 150pt;
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
    @media only screen and (max-width: 700px) {
        width: 100%;
        height: 200pt;
        margin-top: 2rem;
     }
     @media only screen and (max-width: 500px) {
      height: 220pt;
   }
}
.discoverMore {  
   color: #1a1a1a;
    display: block;
    margin-top: 3rem;
    font: 15px 'Arial';
    font-weight: bolder;
    letter-spacing: 3px;
    width: fit-content;
    padding-left: 20px;
    padding-top: 2rem;
    @media only screen and (max-width: 1530px) {
      padding-top: 0.8rem;
    }
    @media only screen and (max-width: 1507px) {
      padding-top: 2rem;
    }
    @media only screen and (max-width: 1310px) {
      padding-top: 2rem;
    }
    @media only screen and (max-width: 1278px) {
      padding-top: 4rem;
    }
    @media only screen and (max-width: 1200px) {
      padding-top: 3rem;
    }
    @media only screen and (max-width: 1125px) {
      padding-top: 4rem;
    }
    @media only screen and (max-width: 1119px) {
      padding-top: 5rem;
    }
    @media only screen and (max-width: 940px) {
      padding-top: 7.5rem;
    }
    @media only screen and (max-width: 857px) {
      padding-top: 9.5rem;
    }
    @media only screen and (max-width: 810px) {
      padding-top: 10rem;
    }
    @media only screen and (max-width: 809px) {
      padding-top: 11.5rem;
    }
    @media only screen and (max-width: 740px) {
      padding-top: 13rem;
    }
    @media only screen and (max-width: 700px) {
      padding-left: 0;
      padding-top: 1.7rem;
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 635px) {
      padding-top: 2.7rem;
    }
   @media only screen and (max-width: 624px) {
      padding-top: 3.5rem;
    }
   @media only screen and (max-width: 560px) {
      padding-top: 5rem;
    } 
    @media only screen and (max-width: 505px) {
      padding-top: 6rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 10pt;
      letter-spacing: 1.6pt;
      padding-top: 8rem;
    }
    @media only screen and (max-width: 489px) {
      padding-top: 10rem;
    }
    @media only screen and (max-width: 448px) {
      padding-top: 12rem;
    }
    @media only screen and (max-width: 427px) {
      padding-top: 13.5rem;
    } 
    @media only screen and (max-width: 355px) {
      padding-top: 16.5rem;
    } 
    @media only screen and (max-width: 321px) {
      padding-top: 17.5rem;
    } 
}
.discoverMore::after {
    display:block;
    content: '';
    border-bottom: solid 1.5px #1a1a1a;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%;
}
.discoverMore:hover:after { 
    transform: scaleX(1);
}
#two {
  @media only screen and (max-width: 700px) {
    padding-top: 0.5rem;
    margin-top: 0;
  }
   @media only screen and (max-width: 631px) {
    padding-top: 3rem !important;
   }
   @media only screen and (max-width: 541px) {
    padding-top: 4rem !important;
   }
   @media only screen and (max-width: 500px) {
    padding-top: 7.5rem !important;
   }
   @media only screen and (max-width: 452px) {
    padding-top: 9.5rem !important;
   }
   @media only screen and (max-width: 409px) {
    padding-top: 11rem !important;
   }
   @media only screen and (max-width: 356px) {
    padding-top: 13rem !important;
   }
   @media only screen and (max-width: 314px) {
    padding-top: 14rem !important;
   }
}