
// Mobile First Approcah
@mixin tablet {
  @media only screen and (min-width: 320px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 760px) {
    @content;
  }
}

// Desktop First Approach
@mixin mobileDF {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin tabletDF {
  @media only screen and (max-width: 760px) {
    @content;
  }
}

@mixin wrapper {
  width: 85%;
  max-width: 1616px;
  margin: 1.5rem auto;
}
