@use '../../styles/base.scss' as *;

.section {
  @include wrapper;
  margin-bottom: 12rem;
  position: relative;
  @media only screen and (max-width: 1400px) {
    width: 93%;
  }

  @media only screen and (max-width: 1085px) {
    @include wrapper;
    height: fit-content;
    margin-bottom: 9rem;
  }
  @media only screen and (max-width: 550px) {
    margin-bottom: 4rem;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
  &__content {
    background-color: #eeefef;
    width: 80%;
    max-width: 830px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 7% 200px 0px 4%;
    @media only screen and (max-width: 1085px) {
      width: 100%;
      padding: 12px 16px;
    }
    &__text {
      margin-bottom: 1rem;
      width: 490px;
      @media only screen and (max-width: 1085px) {
        width: 100%;
        text-align: center;
        border-top: 1px solid #1a1a1a;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }  
      @media only screen and (max-width: 500px) {
        padding-left:0.5rem;
        padding-right: 0.5rem;
      }  
      p {
        @include bodyTextStyling;
        margin-top: 1rem;
      } 
      h1 {
        @include mainHeadingStyling;
        margin-bottom: 2rem;
        @media only screen and (max-width: 1085px) {
          margin-top: 2rem;
        }
      }     
    }
    &__button {
      margin-top: 1rem;
      margin-bottom: 1.9rem;
      @media only screen and (max-width: 1085px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media only screen and (max-width: 500px) {
        margin-top: 0;
      }
    }
    button {
      background: #1a1a1a00 0% 0% no-repeat padding-box;
      border: 1px solid #000000;
      color: #1a1a1a;
      width: 240px;
      height: 61px;
      font: normal normal bold 15px 'Arial';
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      margin-left: 15%;
      @media only screen and (max-width: 1085px) {
        margin-left: 0;
      }
      @media only screen and (max-width: 400px) {
        width: 162pt;
        height: 41pt;
        font-size: 10pt;
        letter-spacing: 2pt;
        margin-top: 2rem;
      }
    }
    button:hover {
      background-color: #1a1a1a;
      color: white;
    }
  }
  &__image {
    height: 630px !important;
    width: 55% !important;
    max-width: 800px;
    position: absolute;
    top: 80px;
    left: 570px;
    margin-right: 2rem;
    object-fit: cover;
    @media only screen and (max-width: 1400px) {
      top: 80px;
      left: 550px;
    }
    @media only screen and (max-width: 1300px) {
      width: 50% !important;
    }
    @media only screen and (max-width: 1200px) {
      width: 47% !important;
      height: 570px !important;
    }
    @media only screen and (max-width: 1085px) {
      display: none;
    }
  }
}
.headingResponsive {
  @media only screen and (max-width: 1085px) {
    display: none;
  }
}

.imageMobile {
  display: none;
  @media only screen and (max-width: 1085px) {
    display: block;
  }
}
#mobile {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}
