@use '../../styles/base.scss' as *;

.wrap {
    position: relative;
}
.heroImage {
  height: 50%;
  max-height: 1500px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @media only screen and (max-width: 500px) {
      height: 250px;
  }
}

.text {
    position: absolute;
    top: 55%;
    left: 80px;
    
    text-transform: uppercase;
    color: #f7f7f7;

    @media only screen and (max-width: 760px) {
        display: none;
    }
}

.text h2 {
    font: normal normal normal 35px 'Baskerville';
    letter-spacing: 3.5px;
}

.text h3 {
    font: normal normal normal 25px 'Baskerville';
    font-size: 25px;
    letter-spacing: 2.5px;
}