@use '../../styles/base.scss' as *;

.wrap {
    position: relative;
}
.heroImage {
  height: 50%;
  max-height: 1500px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @media only screen and (max-width: 500px) {
      height: 300px !important;
  }
  @media only screen and (max-width: 375px) {
    height: 250px !important;
  }
}

.text {
    position: absolute;
    top: 40%;
    left: 5%;
    text-transform: uppercase;
    color: #f7f7f7;
    @include tablet {
        display: none
    }

    h2 {
        @include subheading;
        letter-spacing: 3.15px;
        line-height: 22px;
    }
    p {
        @include bodyText;
        letter-spacing: 0.28px;
        line-height: 16px;
        text-transform:none;
        margin-top: 15px;
    }
}

