@use '../../styles/base.scss' as *;

.section {
  @include wrapper;
  color: $primary-color;
  padding: 3rem 0;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }

  &__images {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 500px) {
      margin: 0 1rem;
    }

  }
  &__image {
    max-height: 6rem;
    width: 6rem;
    object-fit: contain;
    @media only screen and (max-width: 900px) {
      max-height: 4rem;
      width: 4rem;
    }
    @media only screen and (max-width: 600px) {
      max-height: 3rem;
      width: 3rem;
    }
    @media only screen and (max-width: 400px) {
      max-height: 1.75rem;
      width: 1.75rem;
    }
  }

  h1 {
    text-align: center;
    font: normal normal normal 35px Baskerville;
    letter-spacing: 3.5px;
    color: #1a1a1a;
    text-transform: uppercase;
    opacity: 1;
    @media only screen and (max-width: 800px) {
      font-size: 30px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 18pt;
      letter-spacing: 1.8pt;
    }
  }
  p {
    text-align: center;
    font: normal normal normal 20px Alright Sans;
    letter-spacing: 0.2px;
    color: #1a1a1a;
    opacity: 1;
    max-width: 83ch;
    margin: 2rem auto;
    @media only screen and (max-width: 500px) {
      font-size: 13pt;
      letter-spacing: 0.13pt;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  h3 {
    margin: 7rem 0 5rem 0;
    text-align: center;
    font: normal normal normal 25px Baskerville;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-transform: uppercase;
    opacity: 1;
 
    @media only screen and (max-width: 500px) {
      font-size: 18pt;
      letter-spacing: 1.8pt;
      margin: 3rem 0;
    }
  }
  &__arrowContainer {
    position: relative;
   
  }
  &__arrow {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 13%;
    @media only screen and (max-width: 550px) {
      display: none;
    }
  }

  &__button {
    color: black;
    display: block;
    margin: 3rem auto;
    width: 426px;
    height: 88px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    font: normal normal bold 15px 'Alright-Sans';
    letter-spacing: 3px;
    cursor: pointer;
    @media only screen and (max-width: 500px) {
      margin: 2rem auto;
      width: 270px;
      height: 50px;
      font-size: 8pt;
      letter-spacing: 1.6pt;
    }

  }
  &__button:hover {
    background-color: #1a1a1a;
    color: white;
  }
  &__hero {
    display: none;
    width: 100%;
    height: 10rem;
    @media only screen and (max-width: 400px) {
      display: inline;
    }
  }
}
