@use '../../styles/base.scss' as *;

.section {
  &__arrowContainer {
    position: relative;
  }
  &__arrow {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 13%;
    @media only screen and (max-width: 450px) {
      display: none;
    }
  }
}

.button {
  display: block;
  margin: 3rem auto;
  width: 426px;
  height: 88px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  cursor: pointer;
  @media only screen and (max-width: 500px) {
    margin: 2rem auto;
    width: 270px;
    height: 50px;
  }
}

.button:hover {
  background-color: #1a1a1a;
  color: white;
}

.gallery h4 {
  font: normal normal normal 50px Baskerville;
}

.mainHeading {
  font: normal normal normal 50px 'Baskerville';
  letter-spacing: 5px;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-transform: uppercase;
  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.text {
  display: none;
  @media only screen and (max-width: 400px) {
    display: block;
    margin-left: 1rem;
    margin-top: 2rem;
  }
}

.text h3 {
  font: normal normal normal 22pt 'Baskerville';
  letter-spacing: 2.2pt;
}

.text h4 {
  font: normal normal normal 15pt 'Baskerville';
  letter-spacing: 1.5pt;
  margin-bottom: 1rem;
}

.text p {
  font: normal normal normal 20px 'Alright-Sans';
  font-size: 13pt;
  letter-spacing: 0.13pt;
}
