@use '../../styles/base.scss' as *;

.section__overflow {
  overflow-x: hidden;
}
.carousel {
  overflow: hidden !important;
  width: 100%;
  position: relative;
  height: 30rem;
  @media only screen and (max-width: 400px) {
    margin: 3rem 0 3rem 0;
  }
  :global(.swiper-pagination-bullet) {
    background-color: transparent;
    opacity: 1;
    border-radius: 0%;
    border: 1px solid #d7d5d4;
    width: 1rem;
    margin: 0 auto;
  }
  :global(.swiper-wrapper) {
    width: fit-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    left: 50%;
    transform: translateX(-100%);
  }
  :global(.swiper) {
    position: relative !important;
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: #d7d5d4;
    opacity: 1;
  }
  :global(.swiper-pagination-bullets) {
    display: flex;
    justify-content: center;
    // left: -10.5%;
  }
  :global(.swiper-button-next) {
    // right: 31vw !important;
    padding: 30px 22px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid $secondary-color !important;
    color: $secondary-color;
  }
  :global(.swiper-button-next:active) {
    transform: scale(1.1);
  }
  :global(.swiper-button-prev) {
    padding: 30px 22px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid $secondary-color !important;
    color: $secondary-color;
  }
  :global(.swiper-button-prev:active) {
    background-color: black;
  }
  &__slide {
    display: block;
    width: 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.9;
    transform: scale(0.6) !important;

    &--active {
      height: 30rem;
      @media only screen and (max-width: 400px) {
        height: 20rem;
      }
    }
    &--not-active {
      height: 27rem;
      @media only screen and (max-width: 400px) {
        height: 17rem;
      }
    }
  }

  // &__wrapper {
  //   width: fit-content;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  &__content {
    display: flex;

    flex-direction: column;
    @include tablet {
      align-items: center;
      width: 80%;
      min-width: 320px;
      max-width: 500px;
    }
    @include desktop {
      width: 70%;
    }
    h4 {
      font-size: $fs-heading-small;
      line-height: 22px;
      font-weight: 400;
      white-space: normal;
      @include tablet {
        font-size: clamp($fs-paragraph-large, 8vw, $fs-heading-standard);
        font-weight: 400;
        white-space: nowrap;
        margin: 1rem 0rem;
      }
    }
    h6 {
      display: none;
      font-size: clamp($fs-paragraph-small, 4vw, $fs-paragraph);
      text-transform: uppercase;
      font-weight: 500;
      @include tablet {
        display: inherit;
      }
    }
    .carousel__button {
      font-size: clamp($fs-paragraph-small, 4vw, $fs-paragraph-large);
      text-decoration: none;
      cursor: pointer;
      background-color: $primary-color;
      border: none;
      text-transform: uppercase;
      margin-top: 1rem;
      padding: 0.35rem 0.5rem;
      width: fit-content;
      @include tablet {
        margin: 0;
      }
      &--desktop {
        display: none;
        @include tablet {
          display: inherit;
          margin-top: 1rem;
        }
      }
      &--mobile {
        display: inherit;
        @include tablet {
          display: none;
        }
      }
    }
  }
}
