@use '../../styles/base.scss' as *;

.sectionWrapper {
  background-color: #1a1a1a;
  width: 100vw;
}

.section {
  @include wrapper;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.section__navigation {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid white;
  color: white;
  height: fit-content;
  padding: 1.5rem 0;
  @media only screen and (max-width: 760px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
  }
}
 
.section__navigation__logo {
  @media only screen and (max-width: 760px) {
    width: 100%;
  }
  img {
    width: 255px;
    height: 34px;
    margin-right: 3.5rem;
    @media only screen and (max-width: 850px) {
      display: none;
    }
    @media only screen and (max-width: 760px) {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}

.section__navigation__element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:stretch;
  text-align: left;
  padding: 0 3.5rem;
  @media only screen and (max-width: 1200px) {
    padding: 0 2.5rem;
  }
  @media only screen and (max-width: 1200px) {
    padding: 0 1.5rem;
  }
  @media only screen and (max-width: 900px) {
    padding: 0 1rem;
  }
  @media only screen and (max-width: 850px) {
    padding: 0;
    padding-right: 3.5rem;
  }

  @media only screen and (max-width: 760px) {
    width: 100%;
    border-bottom: 1px solid white;
  }

  p {
    padding-bottom: 0.5rem;
    font: normal bold 15px 'Alright-Sans';
    letter-spacing: 0.38px;
    width: max-content;
   
    @media only screen and (max-width: 760px) {
      display: none;
    }
  }

  h2 {
    width: max-content;
    padding-bottom: 1rem;
    font: normal bold 15px 'Alright-Sans';
    letter-spacing: 3px;
    @media only screen and (max-width: 760px) {
      border: none;
      padding-top: 1rem;
      font-size: 14px;
    }
  }
}

.section__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  font-family: $ff-1;
  text-transform: uppercase;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media only screen and (max-width: 760px) {
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.section__links__icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__links__icons__wrapper {
  background: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: black;
  }
}

.section__links__rights {
  font: normal bold 15px 'Alright-Sans';
  letter-spacing: 3px;
  @media only screen and (max-width: 760px) {
    align-self: center;
    margin-top: 3rem;
    text-align: center;
  }
}

.br {
  display: none;
  @media only screen and (max-width: 760px) {
    display: block;
  }
}

#aboutUs {
  @media only screen and (max-width: 760px) {
    border-top: 1px solid white;
  }
}
