@use '../../styles/base.scss' as *;

.section {
  @include wrapper;
  color: $primary-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
  }

  h2 {
    font-size: $fs-heading-medium;
    text-align: center;
    font-family: $ff-2;
    @media only screen and (max-width: 400px) {
      font-weight: 500;
    }
  }
  h3 {
    font-size: 25px;
    text-align: center;
    font-family: $ff-2;
    @media only screen and (max-width: 600px) {
      font-size: 22px;
      font-weight: 300;
    }
    @media only screen and (max-width: 400px) {
      font-size: 20px;
      font-weight: 300;
    }
  }
  p {
    font-size: $fs-heading-small;
    font-family: $ff-1;
    margin: 2rem 0;
    text-align: center;
    letter-spacing: 0.5px;
    max-width: 939px;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 400px) {
      font-size: 16px;
    }
  }
  button {
    background: #1a1a1a00 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 40px;
    margin-bottom: 1rem;
    @media only screen and (max-width: 400px) {
      padding: 10px 30px;
    }
  }
  button:hover{
    background-color: #1a1a1a;
    color: white;
  }
}
