@use '../../styles/base.scss' as *;

.section {
    @include wrapper;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  
    @media only screen and (max-width: 660px) {
       display: none;
    }
}

.mainHeading {
    font: normal normal normal 35px "Baskerville";
    letter-spacing: 3.5px;
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 6rem;
    @media only screen and (max-width: 480px) {
        margin-top: 0;
    }
    @media only screen and (max-width: 500px) {
        font-size: 20px;
    }
}

.section__brochure {
    display: flex;
    //justify-content: space-between;
    align-items:stretch ;
    width: 100%;
}

.section__brochure__specifications {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-transform: uppercase;
    @media only screen and (max-width:1130px) {
        width: 72%;
    }
    @media only screen and (max-width: 950px) {
        width: 100%;
    }
}

.section__brochure__image {
    background-image: url('../../images/birdView.jpg');
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 35%;
    @media only screen and (max-width:1130px) {
        width: 28%;
    }
    @media only screen and (max-width:950px) {
        display: none;
    }
    
    
}


.section__brochure__specifications__info { 
    display: flex;
    flex-direction: column;

}

.section__brochure__specifications__info h1 {
    font: normal normal normal 16px "Alright-Sans";
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
   
}

.section__brochure__specifications__info__data {
    display: flex;
    h2 {
        margin-top: 0.3rem;
        font: normal normal normal 12px "Alright-Sans";
        letter-spacing: 0.14px;
        width: 240px;
        font-family: $ff-1;
        color: #1a1a1a;
        font-weight:bold;
        @media only screen and (max-width: 1190px) {
            width: 250px;
        }
        @media only screen and (max-width: 1130px) {
            width: 180px;
        }
        @media only screen and (max-width:950px) {
            width: 240px;
        }
        @media only screen and (max-width:950px) {
            width: 240px;
        }
        @media only screen and (max-width: 660px) {
            width: 250px;
        }
        
    }
    p {
        font: normal normal normal 12px "Arial";
        width: 540px;
        color: #1a1a1a;
        @media only screen and (max-width: 1190px) {
            width: 400px !important;
        }
        @media only screen and (max-width:950px) {
            width: 640px !important;
        }
        @media only screen and (max-width: 660px) {
            width: max-content;
        }
   
    }
}





