@use '../../styles/base.scss' as *;

.section {
    @include wrapper;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    @media only screen and (max-width: 480px) {
        width: 100%;
        padding-left: 0.2rem;
    }
}

.mainHeading {
    font-size: $fs-heading-medium;
    text-align: center;
    font-family: $ff-2;
    color: #1a1a1a;
    margin-bottom: 2rem;
    @media only screen and (max-width: 480px) {
        margin-top: 0;
    }
    @media only screen and (max-width: 500px) {
        font-size: 20px;
    }
}

.section__brochure {
    display: flex;
    width: 100%;
    //margin-top: 2rem;
    //background-color: red;
}

.section__brochure__specifications {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-transform: uppercase;
    @media only screen and (max-width: 840px) {
        width: 100%;
    }
}

.section__brochure__image {
    background-image: url('../../images/birdView.jpg');
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 40%;
    @media only screen and (max-width: 840px) {
        display: none;
    }
}


.section__brochure__specifications__info { 
    display: flex;
    flex-direction: column;

}

.section__brochure__specifications__info__heading {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $ff-1;
    color: #1a1a1a;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
   
}


.section__brochure__specifications__info__data {
    display: flex;
}
.section__brochure__specifications__info__data h2 {
    // margin-right: 20%;
    font-size: 10px;
    width: 25%;
    font-family: $ff-1;
    color: #1a1a1a;
    font-weight:300;
    @media only screen and (max-width: 840px) {
        width: 30%;
    }
}
.section__brochure__specifications__info__data p {
    font-size: 10px;
    width: 70%;
    font-family: $ff-2;
    color: #1a1a1a;
   
}




